link(rel='stylesheet', type='text/css', href='/public/css/bootstrap.css')
script(src='/public/js/jquery.js')
link(href='/public/css/bootstrap-notify.css', rel='stylesheet')
link(href='/public/css/alert-bangtidy.css', rel='stylesheet')
link(href='/public/css/alert-blackgloss.css', rel='stylesheet')
link(href='/public/css/alert-notification-animations.css', rel='stylesheet')
script(src='/public/js/bootstrap.js')
script(src='/public/js/bootstrap-tab.js')
script(src='/public/js/bootstrap-transition.js')
script(src='/public/js/bootstrap-alert.js')
script(src='/public/js/bootstrap-notify.js')
script(src='/socket.io/socket.io.js')
script(src='/public/js/custom.js');