!!! 5
html(lang='en')
head
    meta(charset='utf-8')

    link(href='/public/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
    link(href='public/css/bootstrap-responsive.css', rel='stylesheet')
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Эхлэл
          li
            a(href='/host/login') Багш
          li
            a(href='/login') Сурагч
        h3.muted Live Presenter
      hr
      .jumbotron
        h1 Зайн Сургалтын Хичээл Удирдах Веб
        p.lead
          | Шинжлэх Ухаан Технологийн Их Сургуулийн харъяа Мэдээлэл Холбооны Технологийн  Сургууль нь Монголын Мэдээллийн технологийн салбарын шилдэг мэргэжилтнүүийг бэлтгэдэг сургуулийн нэг  учраас тоон технологийн ололт амжилтыг сургалтын системд нэвтрүүлж бусад их дээд сургуулиудад үлгэр жишээ үзүүлэх нь зайлшгүй юм.
      hr
      .footer
        p Гүйцэтгэсэн Энхжин Наранжаргал - 2013
